.App {
  min-height: 100vh;
  background: rgb(29, 26, 26);
}

.container {
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator {
  background: rgb(63, 63, 63);
  border-radius: 3px;
  box-shadow: 0pc 2px 10px rgb(255, 255, 255, 0.2);
  padding: 20px;
}
